[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sessions = "*"
bcrypt = "*"
sqlalchemy = "==1.4.*"
asyncpg = "*"
httpx = "*"
fastapi-security = "*"
pydantic = "*"
databases = "*"
python-dotenv = "*"
python-multipart = "*"
gevent = "*"
psutil = "*"
greenlet = "*"
psycopg2-binary = "*"
pyjwt = "*"
autopep8 = "*"
fastapi-cache = "*"
pytest = "*"
testsuite = "*"
pytest-asyncio = "*"
aiosqlite = "*"
flake8 = "*"
jupyterlab = "*"
pytz = "*"
black = "*"
python-rocksdb = "*"
numpy = "*"
sympy = "*"
locust = "*"
pytest-rerunfailures = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[dev-packages]
autopep8 = "*"
setuptools = "*"
wheel = "*"
