[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sessions = "*"
bcrypt = "*"
sqlalchemy = "*"
asyncpg = "*"
httpx = "*"
fastapi-security = "*"
pydantic = "*"
databases = "*"
python-dotenv = "*"
jwt = "*"
python-multipart = "*"
gevent = "*"
psutil = "*"
greenlet = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.10"

[dev-packages]
autopep8 = "*"
