[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sessions = "*"
bcrypt = "*"
sqlalchemy = "*"
asyncpg = "*"
httpx = "*"
fastapi-security = "*"
pydantic = "*"
databases = "*"
python-dotenv = "*"
aiosqlite = "*"
jwt = "*"
python-multipart = "*"
gevent = "==1.5.0"
psutil = "*"
greenlet = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
